{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

<section class="example-wrapper">
    <h1>Products list:</h1>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Price</td>
                <td>Description</td>
            </tr>
        </thead>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
